#*  Feeds.ini file for the Majors module.

    For each major, the following page is created:

    [section] (lowercase alpha-num w/out spaces or special characters)
    TITLE = "Major"
    SHOW_TITLE = 0
    CONTENT_TYPE = "html"
    CONTENT_HTML = "${Content Copy}"
*#
#set ( $majors = $_XPathTool.selectNodes( $contentRoot, "//system-page" ) )
$_SortTool.addSortCriterion( "title", "", "text", "ascending", "upper-first" )
$_SortTool.sort( $majors )
<!--#START-ROOT-CODE
#foreach( $page in $majors )
#set ( $id =        $page.getAttribute( "id" ).value )
#set ( $name =      $page.getChild( 'name' ).text )
#set ( $display-name = $page.getChild( 'display-name' ).text )
#set ( $path =      $page.getChild( 'path' ).text )
#set ( $location =  $_XPathTool.selectSingleNode($page, "dynamic-metadata[name='location']/value").text )
#set ( $phone =     $_XPathTool.selectSingleNode($page, "dynamic-metadata[name='phone']/value").text    )
#set ( $email =     $_XPathTool.selectSingleNode($page, "dynamic-metadata[name='email']/value").text    )
#set ( $mapLink =   $_XPathTool.selectSingleNode($page, "dynamic-metadata[name='mapLink']/value").text  )
#set ( $content =	$_XPathTool.selectSingleNode($page, "system-data-structure/content")  )
##set ( $pageIntro = $content.getChild("pageIntroduction") )
##set ( $pageIntroSerialized = $_SerializerTool.serialize( $pageIntro, true ) )
#set ( $pageText = $content.getChild("pageText") )
#set ( $pageTextSerialized = $_SerializerTool.serialize( $pageText, true ) )
#if ( $name == 'index')[${id}]
TITLE = "${_EscapeTool.xml( $display-name )}"
SHOW_TITLE = 0
CONTENT_TYPE = "html"
CONTENT_HTML = "${_EscapeTool.javascript( $pageTextSerialized )}<p><a href='tel:${phone}'>${phone}</a></p>
<p><a href='mailto:${email}'>${email}</a></p>
<p><a href='$mapLink'>${location}</a><br/>807 Union Street<br/>Schenectady, NY 12308</p>
<p>Visit the <a href='http://www.union.edu${path}.php'>full website.</a></p>"
#end
#end
#END-ROOT-CODE-->
